* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

body .header {
  width: 100%;
  background-image: url(../img/header-bg.png);
  background-size: cover;
  height: 1119px;
}

body .header .burger-menu {
  display: none;
}

@media screen and (max-width: 360px) {
  body .header .burger-menu {
    display: block;
  }
}

body .header .header__blocks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  padding: 0 60px;
}

@media screen and (max-width: 360px) {
  body .header .header__blocks {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  body .header .header__blocks .header__top {
    margin-top: 20px;
  }
}

body .header .header__blocks .header__top .header__logo {
  display: flex;
  align-items: center;
}

body .header .header__blocks .header__top .header__logo p {
  font-size: 26px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 12px;
}

body .header .header__blocks .header__menu .menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 360px) {
  body .header .header__blocks .header__menu .menu {
    flex-direction: column;
    margin: 10px 0;
  }
}

body .header .header__blocks .header__menu .menu li {
  margin-left: 44px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 360px) {
  body .header .header__blocks .header__menu .menu li {
    margin: 10px 0;
  }
}

body .header .header__blocks .header__menu .menu li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}

body .header .header__blocks .header__menu .menu li img {
  margin-left: 5px;
}

@media screen and (max-width: 360px) {
  body .header .header__blocks .header__reg {
    display: flex;
  }
}

body .header .header__blocks .header__reg button:nth-of-type(1) {
  width: 103px;
  height: 42px;
  border-radius: 40px;
  border: 1px solid #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  background: transparent;
  color: #ffffff;
  margin-right: 12px;
}

body .header .header__blocks .header__reg button:nth-of-type(2) {
  width: 132px;
  height: 42px;
  border-radius: 40px;
  border: none;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: #201375;
}

body .header .header__blocks .header__reg button:nth-of-type(2) img {
  margin-right: 6px;
}

body .header .header-info {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 70%;
}

body .header .header-info .header-info__title {
  text-align: center;
}

body .header .header-info .header-info__title h1 {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
}

@media screen and (max-width: 360px) {
  body .header .header-info .header-info__title h1 {
    font-size: 32px;
  }
}

body .header .header-info .header-info__link {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding-top: 74px;
  margin-right: 50px;
}

@media screen and (max-width: 360px) {
  body .header .header-info .header-info__link {
    flex-flow: column;
    margin: 0;
  }
}

body .header .header-info .header-info__link button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 33px;
}

@media screen and (max-width: 360px) {
  body .header .header-info .header-info__link button {
    margin: 10px 0;
  }
}
